body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
}

p{
    color: #8f8f8f
}

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%
}


.navbar{
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 50%;
    transform: rotate(18deg);
}

#features{
    padding: 7% 15%;
    text-align: center;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.feature-box{
    padding: 5%;
}

.fa{
    padding: 10%;
    color: #ef8172;
}

.fa:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 5% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonials-img{
    width: 25%;
    border-radius: 100%;
    margin: 20px;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing{
    text-align: center;
    padding: 100px;
    background-color: white;
}

.plano{
    margin-bottom: 50px;
}

.pc{
   padding: 3% 2%; 
}

.row-text{
    color:white
}

#cta{
    text-align: center;
    background-color: #ff4c68;
}

.fim{
    padding: 2% 15%;
    font-size: 2.5rem;
}

#footer{
    text-align: center;
}